/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

	color-scheme: light dark;
	--color-text-zwart:#111;
	--color-text-wit:white;

	--color-background: rgb(0, 0, 0);
	--color-background-: rgb(25, 25, 25);
	--color-background-hoover: rgb(160,0,11);

	--color-icons: rgb(255, 255, 255);
	--color-icons-red: red;
	--font-h2: "font basis";

	--hoover-text: #959599;


	
	font-family: 'inter', sans-serif;
	
}

/*********************/
/*    Light mode.    */
/*********************/

@media (prefers-color-scheme: light) {
	:root {
		--color-text-zwart:#white;
		--color-text-wit:#111;

		--color-background: white;
		--color-background-: rgb(249, 249, 249);
		--color-background-hoover: rgb(160,0,11);

		--color-icons: rgb(0, 0, 0);
		--color-icons-red: red;

		--hoover-text: rgb(0, 0, 0);
	}
}

/*********************/
/*    dark mode.     */
/*********************/

@media (prefers-color-scheme: dark) {
	:root {
		--color-text-zwart:#fff;
		--color-text-wit:#fff;

		--color-background: rgb(0, 0, 0);
		--color-background-hoover: rgb(160,0,11);

		--color-icons: white;
		--color-icons-red: red;
		--hoover-text: rgb(255, 255, 255);
	}
}

/****************/
/*     FONT     */
/****************/

@font-face {
	font-family: "font basis bold";
	src: url("../fonts/PublicSans-Bold\ \(2\).woff2");
}

@font-face {
	font-family: "font basis";
	src: url("../fonts/PublicSans-Regular\ \(2\).woff2\ \(2\).woff2");
}

/*******************/
/*     FONT-SIZE   */
/*******************/

h2{
	font-size: 2.2em;
	color: white;
	margin-bottom: 0em;
	max-width: 100%;
}

@media (width > 40em) {

	main section:nth-of-type(1) h2{
		font-size: 4.5em;
		max-width: 50vw;
	}
}




/****************/
/*     BODY     */
/****************/

img{
	max-width: 100%;
}

body{
	margin: 0;
	overflow-x: hidden;
}

ul{
	list-style: none;
	padding-left: 0;
}

/****************/
/*    HEADER    */
/****************/
header h1{
	visibility: hidden;

	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

header img{
	height: 3.7em;
}

header svg{
	height: 1.5em;
	width: auto;
	fill: var(--color-icons);
}

header svg:nth-of-type(2){
	position: absolute;
	right: 1em;
}

Header nav a{
	color: var(--color-text-wit);
	text-decoration: none;
}

Header nav p{
	color: var(--color-text-wit);
}

header{
	min-height: 5.26em;
	background-color: var(--color-background);

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 1em;
	z-index: 100000000000000;
	gap: 1em;

}

header button {

  order: -2;

  translate:-50% 0%;
}

header section{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
}

header nav:nth-of-type(1){
	display: flex;
	align-items: center;
	width: 100vw;
}

header nav:nth-of-type(1) svg{
	position: absolute;
	right: 1em;
	height: 0.8em;
}

header nav:nth-of-type(2){
	display: none;
}

header nav:nth-of-type(2) ul{
	list-style: none;
	padding-left: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
}

@media (width> 45em){
	header nav:nth-of-type(1){
		display: none;
	}

	header nav:nth-of-type(2){
		display: flex;
		align-items: center;
	}

	header nav ul{
		width: auto;
		gap: 2em;
	}

	header nav {
		display: block;
	}
}

@media (width > 60em) {

	header nav:nth-of-type{
		display: flex;
		align-items: center;
	}

	header nav:nth-of-type(2) ul{
		width: auto;
		gap: 2em;
	}
}

/****************/
/*    footer    */
/****************/

footer img{
	grid-column: 1/-1;
	align-self: start;
	width: auto;
	height: 4em;
	margin-bottom: 1em;
}

footer h2{
	font-family: 'inter', sans-serif;
	font-size: 1.2em;
	font-weight: 700;
	color: var(--color-text-wit);
	margin-top: 1em;
	margin-bottom: 1em;
}

footer h3{
	color: #959599;
}

footer p{
	font-family: 'inter', sans-serif;
	color: rgb(185, 185, 187);
	line-height: 1.8em;
	margin: 0;
}

footer a{
	font-family: 'inter', sans-serif;
	font-size: 1em;
	text-decoration:none;
	color: var(--color-text-wit);
}

footer ul{
	list-style: none;
}

footer{
	background-color: var(--color-background);
	padding-top: 3em;
	padding-left: 1.6em;
	padding-bottom: 3em;
	padding-right: 1.6em;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

@media (width > 40em) {
		footer {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-column-gap: 3em;
		align-items: start;
		grid-template-rows: min-content;
	}
}

@media (width > 70em) {
		footer {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		grid-column-gap: 5em;
		align-items: start;
	}
}

footer svg{
	fill: white;
	width: 1em;
	height: 1em;
}

footer  circle {
	fill: var(--color-icons-red);
}

footer  a:hover circle{
    fill: var(--color-background-hoover);    
}

footer  a:hover svg{
    rotate: -45deg;
}


footer section {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	gap: 0.5em;
}

/* Prime nav */

footer nav:nth-of-type(1) ul{
	columns: 2;
}

@media (width > 60em) {
		footer nav:nth-of-type(1) ul{
		columns: 3;
	}
}

footer nav:nth-of-type(1) li{
	padding: 0.5em;
}

footer nav:nth-of-type(1) li a:hover{
	border-bottom: 3px dotted var(--hoover-text);
}

/* Socials */

footer nav:nth-of-type(2) ul{
	display: flex;
	flex-direction: row;
	gap: 1em;
}

footer nav:nth-of-type(2) svg:hover{
	fill: var(--color-background-hoover);
	rotate: 0deg;
}

footer nav:nth-of-type(2) svg{
	color: var(--color-text-wit);

}

footer nav:nth-of-type(2) li{
	background-color: #2e2e32;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Second nav */

footer nav:nth-of-type(3){
	border-top: #959599 0.5px solid;
}

footer nav:nth-of-type(3){
	display: flex;
	flex-direction: column;
}

footer nav:nth-of-type(3) ul{
	columns: 2;
}

footer nav:nth-of-type(3) li{
	padding: 0.5em;
}

footer nav:nth-of-type(3) a{
	color: #959599;
}

footer nav:nth-of-type(3) a:hover{
	border-bottom: 3px dotted #959599;
}

footer nav:nth-of-type(3){
	grid-column: 1/-1;
}

@media (width > 70em) {
		footer nav:nth-of-type(3) ul{
		display: flex;
		flex-direction: row;
		gap: 1em;
	}
}

footer section:nth-of-type(2){
	grid-column: 1/-1;
}

@media (width > 70em) {
		footer section:nth-of-type(2) ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-right: 20em ;
	}
}


footer a:nth-of-type(2){
	font-size: 1.2em;
	font-weight:600 ;
	text-decoration:none;
	color: var(--color-text-wit);
}

footer article{
	grid-column: 1 / -1;
}

footer article ul{
	display: flex;
	flex-direction: column;
	grid-column: 1 / -1;
}

@media (width > 40em) {
		footer article ul{
			gap: 2em;
			display: flex;
			flex-direction: row;
	}
}



footer li:first-letter {
  text-transform: uppercase;
}
