/****************************/
/*     Universe styling     */
/****************************/


/*Welkom to the Universe*/

main section:nth-of-type(1) {
    position: relative;
    height: 100vh; 
    overflow: hidden; 
}

main section:nth-of-type(1) video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

main section:nth-of-type(1) {		
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 80vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

main section:nth-of-type(1) button {
    position: absolute;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    right: 1em;
    bottom: 3em;
}

main section:nth-of-type(1) button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

main section:nth-of-type(1) div {
    padding: 3em 1.5em;
    position: absolute;
    left: 1em;
}

main section:nth-of-type(1) div p {
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
}

@media (width > 40em) {

    main section:nth-of-type(1) p{
        font-size: 1.2;
        max-width: 60%;
    }
}

main section:nth-of-type(1) h2{
    text-shadow: 1px 1px 2px black;
}

/*Explore*/

section:nth-of-type(2){
    padding: 1em;
    background-color: rgb(27, 27, 27);
}


section:nth-of-type(2) h2{
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 3.5px;
    color: var(--color-text-wit);
    background-color: rgb(27, 27, 27);
    margin: 0;
}

section:nth-of-type(2) h3{
   color: rgb(185, 185, 187);
   font-weight: 600;
}

section:nth-of-type(2) p{
    color: rgb(185, 185, 187);
    font-size: 0,875;
    
}

section:nth-of-type(2) ul{
    list-style: none;
    margin: 0;
    padding: 2em;

    display: flex;
    overflow: auto;

    scroll-snap-align:start;

    scroll-behavior:smooth;
	
	scroll-snap-type:x mandatory;
	
	anchor-name: --carousel;

}

section:nth-of-type(2) li{
    
    width: 100vw;
    height: 9.5em;
    display: flex;

    padding: 1em;
    flex-shrink: 0;

    scroll-snap-align:start;
}


/* Bron voor de verder en terug knoppen: https://chrome.dev/carousel-configurator/ */

section:nth-of-type(2) ul::-webkit-scrollbar-button(*){
    position: fixed;
    position-anchor: --carousel;
    position-visibility: always;
    font-family: "Material Symbols Outlined";
		
		z-index: 100000000;
}

section:nth-of-type(2) ul::scroll-button(right) {
    position-area: bottom center;
    content: 'arrow_forward' / 'Next';
		
		justify-self:end;
}

section:nth-of-type(2) ul::scroll-button(left) {
    position-area: bottom center;
    content: 'arrow_back' / 'Previous';
		
		justify-self:start;
}


@media (width > 40em) {
	section:nth-of-type(2) li {
		width:50%;
	}
}

@media (width > 60em) {
	section:nth-of-type(2) ul {
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
	}
	
	section:nth-of-type(2) li {
		width:unset;
	}
}


section:nth-of-type(2) li img{
    height: 6em;
    width: 6em;
    border-radius: 790px;
    position: relative;
    bottom: 0em;
    padding-right: 1em;
}

/*New Year*/

section:nth-of-type(3) div:nth-of-type(1){
    padding-left: 1.5em;
    padding-right: 1.5em;
}

section:nth-of-type(3) h2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--color-text-zwart);
}

@media (width > 40em) {
	main section:nth-of-type(3) h2 { 
		font-size: 4em;
	}
}

section:nth-of-type(3) p{
    font-size: 0.9em;
}


section:nth-of-type(3) div img{
    width: 100%;
    height: auto;
    max-height: 16em;
    object-fit: cover;
}
main section:nth-of-type(3) a{
	font-size: 1.4em;
	color: var(--color-text-zwart);
	padding-left: 0em;
	text-decoration: none;	
	font-weight: 700;
}

main section:nth-of-type(3) svg{
	fill: var(--color-icons);
	width: 1em;
	height: 1em;
}

main section:nth-of-type(3) circle {
	fill: var(--color-icons-red);
}

main section:nth-of-type(3) a:hover circle{
    fill: var(--color-background-hoover);    
}

main section:nth-of-type(3) a:hover svg{
    rotate: -45deg;
}

main section:nth-of-type(3) Div:nth-of-type(1){
    margin-bottom: 2.5em;
    margin-top: 5em;
}

main section:nth-of-type(3) Div:nth-of-type(1) p:nth-of-type(1){
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 3.5px;
}

main section:nth-of-type(3) Div:nth-of-type(2) p{
    font-size: 0.75em,;
    color: rgb(88, 88, 91);
    margin: 1em;
}

@media (width > 60em) {
    main section:nth-of-type(3){
        display: flex;
        align-items: center;
    }

    main section:nth-of-type(3) div:nth-of-type(1){
        max width: 50%;
    }
}

/*Featured video*/

main section:nth-of-type(4){
    background-color: var(--color-text-zwart);
    padding: 64px 24px;
    height: 37em;
}

main section:nth-of-type(4) video{
    position: absolute;
    bottom: 0em;
}

main section:nth-of-type(4) h2{
    font-size: 2em;
    color: var(--color-text-wit);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main section:nth-of-type(4) p:nth-of-type(1){
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 3.5px;
    color: rgb(209, 209, 209);
}

main section:nth-of-type(4) p:nth-of-type(2){
    font-size: 0.9em;
    color: rgb(209, 209, 209);
}

main section:nth-of-type(4) a{
	font-size: 1.4em;
	color: var(--color-text-wit);
	padding-left: 0em;
	text-decoration: none;	
	font-weight: 700;
    padding-bottom: 2.5em;
}

main section:nth-of-type(4) svg{
	fill: var(--color-icons);
	width: 1em;
	height: 1em;
}

main section:nth-of-type(4) circle {
	fill: var(--color-icons-red);
}

main section:nth-of-type(4) a:hover circle{
    fill: var(--color-background-hoover);    
}

main section:nth-of-type(4) a:hover svg{
    rotate: -45deg;
}

main section:nth-of-type(4) object{
    position: relative;
}

/*New(s) Beginnings*/

main section:nth-of-type(5) h2{
	font-size: 3em;
	color: var(--color-text-zwart);
}

main section:nth-of-type(5) a{
	font-size: 1.4em;
	color: var(--color-text-zwart);
	padding-left: 0em;
	text-decoration: none;	
	font-weight: 700;
}

main section:nth-of-type(5) svg{
	fill: var(--color-icons);
	width: 1em;
	height: 1em;
}

main section:nth-of-type(5) circle {
	fill: var(--color-icons-red);
}

main section:nth-of-type(5){
	padding-top: 1em;
	padding-left: 2em;
	padding-bottom: 1em;
	padding-right: 2em;
}

main section:nth-of-type(5) ul{
	padding-left: 0em;
	display: grid;
	grid-template-rows:23.5em 23.5em;
	gap:1em;
    list-style: none;
}

main section:nth-of-type(5) li{
	position: relative;
}

main section:nth-of-type(5) svg{
	fill: var(--color-icons);
	position: absolute;
}

main section:nth-of-type(5) div{
    padding-left: 2em;
	z-index: 10000000000;
}

main section:nth-of-type(5) li:nth-of-type(1)  img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

main section:nth-of-type(5) li:nth-of-type(2)  img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

main section:nth-of-type(5) li p:nth-of-type(1){
	position: absolute;
	top: 1.5em;
	color: var(--color-text-wit);
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 3.5px;
}

main section:nth-of-type(5) li p:nth-of-type(2){	
    position: absolute;
	bottom: 2em;
	color: var(--color-text-wit);
    font-size: 1.2em;
    font-weight: 700;
}

main section:nth-of-type(5) li p:nth-of-type(3){
    position: absolute;
	bottom: 2em;
	color: var(--color-text-wit);
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 3.5px;
}

main section:nth-of-type(5) a:hover circle{
    fill: var(--color-background-hoover);    
}

main section:nth-of-type(5) a:hover svg{
    rotate: -45deg;
}

@media (width > 40em) {
    main section:nth-of-type(5) ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (width > 60em) {
    main section:nth-of-type(5) ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, min(25vw, 28em));
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        }
   }

    
/*A Celestial Fireworks Display*/
    
main section:nth-of-type(6){
    padding-left: 2em;
    padding-right: 2em;
}
    
    main section:nth-of-type(6) ul{
        padding-left: 0;
    }
    
    main section:nth-of-type(6) li{
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows:max-content max-content max-content;
        padding-bottom: 1em;
        column-gap: 0.5em;
    }
    
    main section:nth-of-type(6) li img{
        border-radius: 50%;
        height: 5em;
        width: 5em;
        object-fit: cover;
        grid-column: 1 ;
        grid-row: 1/4 ;
        max-height: 5em;
        flex-shrink: 0;
    }
    
    main section:nth-of-type(6) li p{
        color: var(--color-text-zwart);
        margin: 0;
    }
    
    main section:nth-of-type(6) li div p:nth-of-type(1){
        grid-column: 2;
        grid-row: 1;
        font-size: 0.7em;
        font-weight: 500;
        letter-spacing: 3.5px;
    }

    main section:nth-of-type(6) li div p:nth-of-type(2){
        grid-column: 2;
        grid-row: 2;
        font-size: 0.75em;
        font-weight: 700;
    }
    
    main section:nth-of-type(6) li div p:nth-of-type(3){
        grid-column: 2;
        grid-row: 3;
        font-size: 0.7em;
        font-weight: 500;
        letter-spacing: 3.5px;
    }
    
    main section:nth-of-type(6) svg{
        grid-column: 2;
        grid-row: 3;
    }

@media (width > 40em) {

    main section:nth-of-type(6) ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }

    main section:nth-of-type(6) ul li:nth-of-type(1){
        grid-area: 1 / 1 / 2 / 2;
    }

    main section:nth-of-type(6) ul li:nth-of-type(2){
        grid-area: 1 / 2 / 2 / 3;
    }

    main section:nth-of-type(6) ul li:nth-of-type(3){
        grid-area: 2 / 1 / 3 / 2;
    }

    main section:nth-of-type(6) ul li:nth-of-type(4){
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media (width > 60em) { 
    main section:nth-of-type(6) ul{
        display: flex;
        flex-direction: row;
        padding-left: 2em;	
        padding-right: 2em;
        justify-content: space-between;
    }

    main section:nth-of-type(6) ul{ 
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows:min(30vw,23.5em);
        gap: 1em;
        position: relative;
    }

    main section:nth-of-type(6) a:nth-of-type(1){
        position: absolute;
    }
}


/*More Topics*/

main section:nth-of-type(7){
	position: relative;
}

main section:nth-of-type(7) svg{
	fill: var(--color-icons);
	width: 1em;
	height: 1em;
}

main section:nth-of-type(7) circle {
	fill: var(--color-icons-red);
}

main section:nth-of-type(7) p{
	max-width: 90vw;
	color: var(--color-text-wit);
	top: 4em;
	font-family: "font basis bold";
}

main section:nth-of-type(7) a{
	color: var(--color-text-wit);
	font-size: 1.4em;
	text-decoration: none;
	font-weight: 700;
}

main section:nth-of-type(7) h2{
	color: var(--color-text-wit);
	font-size: 3em;
}

main section:nth-of-type(7) img{
	object-fit: cover;
	min-height: 55em;
	max-height: 55em;
	width: 100vw;
}

main section:nth-of-type(7) div{
	position: absolute;
	top: 2em;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 10vw;
}

main section:nth-of-type(7) a:hover circle{
    fill: var(--color-background-hoover);    
}

main section:nth-of-type(7) a:hover svg{
    rotate: -45deg;
}

@media (width > 40em) {
    main section:nth-of-type(7) div{
        max-width: 60vw;
    }
}




main section:nth-of-type(8){
	padding-top: 48px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 48px;
}

main section:nth-of-type(8) img{
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 23.4em;
}

main section:nth-of-type(8) li{
	position: relative;
}

main section:nth-of-type(8) ul{
	display: grid;
	padding-left: 0;
	gap: 2.5em;
	grid-template-rows:23.5em 23.5em 23.5em 23.5em ;
    list-style: none;
}

main section:nth-of-type(8) li a{
	position: absolute;
	text-decoration: none;
	color: var(--color-text-wit);
	left: 1em;
	bottom: 1em;
	font-size: 1.4;
	font-weight: 700;
	line-height: 21.1px;
}

main section:nth-of-type(8) h2{
	font-size: 3em;
	color: var(--color-text-zwart);
}

main section:nth-of-type(8) p{
    font-family: "dm-mono";
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    line-height: 1em;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

main section:nth-of-type(8) a{
	font-size: 1.4em;
	color: var(--color-text-zwart);
	padding-left: 0em;
	text-decoration: none;	
	font-weight: 700;
}

main section:nth-of-type(8) svg{
	fill: var(--color-icons);
	width: 1em;
	height: 1em;
}

main section:nth-of-type(8) circle {
	fill: var(--color-icons-red);
}

main section:nth-of-type(8) a:hover circle{
    fill: var(--color-background-hoover);    
}

main section:nth-of-type(8) a:hover svg{
    rotate: -45deg;
}

@media (width > 40em) {

    main section:nth-of-type(8) ul{ 
		grid-template-columns:1fr 1fr;
		grid-template-rows:30vw 30vw;
		gap: 1em;
	}
	
	main section:nth-of-type(8)  li:nth-of-type(1) {
		grid-column:span 1;
	}
	
	main section:nth-of-type(8)  li:nth-of-type(2) {
		grid-row:span 1;
	}
}

@media (width > 60em) {
    main section:nth-of-type(8) ul{ 
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows:min(30vw,23.5em);
        gap: 1em;
        position: relative;
    }

    main section:nth-of-type(8) a:nth-of-type(1){
        position: absolute;
    }
        }
   